<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Catalog</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        #overlay.show {
            display: block;
        }

        #add-client-page.show,
        #update-client-page.show {
            display: block;
            animation: dialog 250ms linear 1;
            z-index: 1
        }

        @keyframes dialog {
            from {
                opacity: 0;
                /* transform: scale(0.55); */
            }

            to {
                opacity: 1;
                /* transform: scale(0.70); */
            }

        }
    </style>
</head>

<body class="flex items-center justify-center bg-gray-100 relative">
    <main id="container" class="w-[90vw] flex flex-col place-content-center">
        <%-include('header', {activeOption: 'clients' })%>
            <div class="flex flex-row items-center justify-between">
                <h1 class=" text-black text-base md:text-2xl font-bold mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4">
                    Clients'
                    Profiles

                </h1>
            </div>
            <hr class="my-3 mr-8">
            <div id="client-container"
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center justify-center gap-x-8 w-[90%] p-8">

                 <!-- Creating clients -->

                 <div onclick="return addClient()"
                 class=" h-[22em] scale-95 flex flex-col justify-center items-center gap-y-4 border-[3px] border-dashed border-purple-400 bg-white  rounded-lg py-4 px-5 cursor-pointer">
                 <svg class="size-12 text-purple-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                     <path stroke-linecap="round" stroke-linejoin="round"
                         d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 0 0 2.25-2.25V6a2.25 2.25 0 0 0-2.25-2.25H6A2.25 2.25 0 0 0 3.75 6v2.25A2.25 2.25 0 0 0 6 10.5Zm0 9.75h2.25A2.25 2.25 0 0 0 10.5 18v-2.25a2.25 2.25 0 0 0-2.25-2.25H6a2.25 2.25 0 0 0-2.25 2.25V18A2.25 2.25 0 0 0 6 20.25Zm9.75-9.75H18a2.25 2.25 0 0 0 2.25-2.25V6A2.25 2.25 0 0 0 18 3.75h-2.25A2.25 2.25 0 0 0 13.5 6v2.25a2.25 2.25 0 0 0 2.25 2.25Z" />
                 </svg>



                 <h1 class="text-gray-500 text-2xl font-semibold">Add new Client</h1>

             </div>
                <!-- Fetching clients -->
                <%- clients.map(({ _id, name, fatherName, contact, cnic })=> `
                    <div id="myClient" data-id="${_id}"
                        class="h-full scale-95 flex flex-col justify-center border border-gray-300 bg-white rounded-lg py-4 px-5">
                        <div class="flex flex-row justify-start items-center gap-4 py-6">
                            <div class="mr-auto border border-gray-200  px-3 py-2 rounded-md ">

                                <a href="/clients/client-profile"
                                   class="client-profile-btn" class="flex flex-row gap-2 items-center justify-center cursor-pointer">
                                    <svg class="size-6 cursor-pointer" viewBox="0 0 512 512"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#9333ea"
                                            d="m256 288c79.5 0 144-64.5 144-144s-64.5-144-144-144-144 64.5-144 144 64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-55.1c-70.7 0-128 57.3-128 128v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z" />
                                    </svg>
                                    <p class="text-gray-500 text-base">Profile</p>
                                </a>
                            </div>
                            <div onclick="updateClient(event)"
                                class=" flex flex-row items-center justify-center cursor-pointer border border-purple-500 bg-purple-600 hover:bg-purple-500 rounded-[100px] px-4 py-1 gap-3">

                                <svg class="size-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                            </div>
                            <div
                                class="deleteButton flex flex-row items-center justify-center cursor-pointer border border-red-500 hover:bg-gray-50 rounded-[100px] px-3 py-1 gap-3">

                                <svg class="size-4 text-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>
                            </div>
                        </div>
                        <div class="flex flex-row justify-between items-center px-3 py-4">
                            <h1 class="text-gray-400 text-base">Name</h1>
                            <p class="text-black text-base font-semibold">${name}</p>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between items-center px-3 py-4">
                            <h1 class="text-gray-400 text-base">Father name</h1>
                            <p class="text-black text-base font-semibold">${fatherName}</p>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between items-center px-3 py-4">
                            <h1 class="text-gray-400 text-base">Contact</h1>
                            <p class="text-black text-base font-semibold">${contact}</p>
                        </div>
                        <hr>
                        <div class="flex flex-row justify-between items-center px-3 py-4">
                            <h1 class="text-gray-400 text-base">CNIC</h1>
                            <p class="text-black text-base font-semibold">${cnic}</p>
                        </div>
                    </div>
                    `).join("") %>
                   
            </div>


            <!--! ADD client FORM-->

            <div id="add-client-page"
                class="w-[85 md:w-[70vw] hidden bg-white scale-[0.70] p-12 fixed top-[50%] left-[-25%] translate-y-[-50%] translate-x-[50%] rounded-lg">
                <div class="flex flex-row items-center justify-between mb-4">
                    <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12">Add Client
                    </h1>
                    <button onclick="hideAddClient()"
                        class=" text-gray-500 hover:text-gray-400 text-sm md:text-xl p-sm mx-4 md:mx-12 flex flex-row items-center justify-center gap-2">
                        Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
                        </svg> </button>
                </div>
                <hr class="my-3 mr-8 h-[.2px]">

                <form method="POST" action="/api/clients" name="addClientForm"
                    class=" gap-4 flex flex-col pt-4 md:px-12 h-[50%]">


                    <div class="flex flex-col my-2">
                        <!-- Name -->
                        <div class="flex flex-col col-span-1 mr-8" id="name">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="name">Name</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="text" name="name" autocapitalize="words" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>
                        <!-- Father Name -->
                        <div class="flex flex-col col-span-1 mr-8" id="father_name">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="fatherName">Father
                                name</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="text" name="fatherName" autocapitalize="words" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>

                        <!-- Contact -->
                        <div class="flex flex-col col-span-1 mr-8" id="contact">
                            <label class="label-red my-1 text-gray-500 font-semibold  " for="contact">Contact</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="tel" name="contact" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>

                        <!-- CNIC -->
                        <div class="flex flex-col col-span-1 mr-8" id="cnic">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="cnic">CNIC</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="number" name="cnic" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>
                    </div>

                    <!-- BUTTON -->
                    <input onclick="hideAddClient()"
                        class="rounded-lg cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white text-xl px-20 py-2 md:py-3"
                        type="submit" value="+ Add new Client">
                </form>
            </div>

            <!--! Update client FORM-->
            <div id="update-client-page"
                class="w-[85 md:w-[70vw] hidden bg-white scale-[0.70] p-12 fixed top-[50%] left-[-25%] translate-y-[-50%] translate-x-[50%] rounded-lg">
                <div class="flex flex-row items-center justify-between mb-4">
                    <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12">Update client
                    </h1>
                    <button onclick="hideUpdateClient()"
                        class=" text-gray-500 hover:text-gray-400 text-sm md:text-xl p-sm mx-4 md:mx-12 flex flex-row items-center justify-center gap-2">
                        Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
                        </svg> </button>
                </div>
                <hr class="my-3 mr-8 h-[.2px]">

                <form method="POST" name="updateClientForm" class=" gap-4 flex flex-col pt-4 md:px-12 h-[50%]">


                    <div class="flex flex-col my-2">
                        <!-- Name -->
                        <div class="flex flex-col col-span-1 mr-8" id="name">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="up_name">Name</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="text" name="up_name" autocapitalize="words" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>
                        <!-- Father Name -->
                        <div class="flex flex-col col-span-1 mr-8" id="father_name">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="up_fatherName">Father
                                name</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="text" name="up_fatherName" autocapitalize="words" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>

                        <!-- Contact -->
                        <div class="flex flex-col col-span-1 mr-8" id="up_contact">
                            <label class="label-red my-1 text-gray-500 font-semibold  " for="contact">Contact</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="tel" name="up_contact" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>

                        <!-- CNIC -->
                        <div class="flex flex-col col-span-1 mr-8" id="cnic">
                            <label class=" label-red my-1 text-gray-500 font-semibold  " for="up_cnic">CNIC</label>
                            <input
                                class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                                type="number" name="up_cnic" required>
                            <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
                        </div>
                    </div>

                    <!-- BUTTON -->
                    <input onclick="hideUpdateClient()"
                        class="rounded-lg cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white text-xl px-20 py-2 md:py-3"
                        type="submit" value="Save changes">
                </form>
            </div>

            <!-- OVERLAY -->
            <div onclick="hideAddClient();hideUpdateClient() " id="overlay"
                class="bg-gray-800 bg-opacity-40 w-screen h-screen fixed inset-0 hidden">
            </div>
    </main>


    <script src="/javascripts/client.js"></script>
    <!-- <script src="./javascripts/data.js"></script> -->
    <!-- <script src="./javascripts/generator.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>