<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <style>
    .label-red::after {
      content: " *";
      color: red;
      font-size: large;
    }

    #side-container.toggle {
      display: block;
      left: 0;
      /* animation: slider 600ms linear 1; */
      /* transition: all ease 600ms; */
    }

    #side-container {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    #overlay.toggle {
      display: block;
    }


    #invoice-view.toggle {
      display: block;
      animation: dialog 250ms linear 1;

    }

    #side-container::-webkit-scrollbar {
      background: transparent;
      width: 14px;
    }

    #side-container::-webkit-scrollbar-track {
      right: 3px;
      background: 0 0;
      z-index: 200;
    }

    #side-container::-webkit-scrollbar-thumb {
      background-color: #bababa;
      border-radius: 20px;
      border: 2px solid #fff;
    }

    #side-container::-webkit-scrollbar-thumb:hover {
      background-color: #0000009e;
    }

    @keyframes dialog {
      from {
        opacity: 0;
        /* transform: scale(0.75); */
      }

      to {
        opacity: 1;
        /* transform: scale(1); */
      }

    }

    #invoice-list {
      transition: all ease 0.3s;
    }

    #invoice-list:hover {
      border-color: rgb(126, 34, 206);
    }

    /* .svgicon {
      opacity: 0;
    }

    #invoice-list:hover .svgicon {
      opacity: 1;
    } */

    @media(max-width: 640px) {
      #invoice-list:hover .svgicon {
        opacity: 0;
      }
    }
  </style>
  <title>Invoices - GMS</title>
</head>

<body class="bg-gray-100 flex items-center justify-center">
  <div class=" w-[90vw] grid items-center justify-center ">
    <%-include('header', {activeOption: 'index' })%>
      <header class=" flex flex-row items-center justify-around py-12 gap-8">
        <h1 class="text-black text-xl md:text-3xl font-bold">Invoices</h1>
        <a id="new-btn" onclick="showSidebar()"
          class="rounded-full flex flex-row gap-4 items-center cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white py-2 px-4 md:px-6 md:py-3">
          <!-- <img class="w-6 md:w-9" src="./public/icons/plus-icon.png"> -->
          <svg class="size-6 md:size-10 text-white font-extrabold rounded-[50%]" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

          <p class="text-white text-sm md:text-lg font-bold">New invoice</p>
          <a href="/products"
            class="bg-slate-100 hover:bg-purple-600 border-[2px] border-purple-600 rounded-[100px] text-xl text-purple-700 hover:text-white p-3 hidden"></a>
        </a>
      </header>
      <hr class="my-5">
      <div class="p-4 w-[90vw] md:w-[70vw] flex flex-col-reverse " id="invoice-coll">
      </div>
  </div>

  <!-- OVERLAY -->
  <div id="overlay" onclick="hideSidebar();closeInvoice() "
    class="bg-gray-800 bg-opacity-40 w-screen h-screen fixed inset-0 hidden">
  </div>
  <!-- SIDEBAR -->
  <div id="side-container"
    class=" container bg-white w-[90vw] lg:w-[50vw] h-screen overflow-scroll border fixed top-0 left-[-730px] hidden transition-all">
    <div class="flex flex-row items-center justify-between">
      <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4">Create
        Invoice
      </h1>
      <button onclick="hideSidebar()"
        class=" text-gray-500 hover:text-gray-500 text-sm md:text-xl p-sm mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4 flex flex-row items-center justify-center gap-2">
        Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
        </svg> </button>
    </div> <!-- <p class="text-purple-400 text-lg my-3 mx-2"></p> -->
    <form id="myForm" name="myForm" method="POST" action="/api/invoices" class=" flex flex-col pt-4 px-12">
      <hr class="my-3 mr-8">
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8" id="name">
          <label class=" label-red my-1 text-gray-500 font-semibold required" for="name">Curstomer name</label>
          <input class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="text"
            name="name" required>
          <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
        </div>
        <div class="flex flex-col col-span-1 mr-8" id="father_name">
          <label class=" label-red my-1 text-gray-500 font-semibold required" for="father_name">Father name</label>
          <input class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="text"
            name="father_name" required>
          <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 my-2">

        <div class="flex flex-col col-span-1 mr-8" id="contact">
          <label class="label-red my-1 text-gray-500 font-semibold required" for="contact">Contact</label>
          <input class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="number"
            name="contact" required>
          <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
        </div>
        <div class="flex flex-col col-span-1 mr-8" id="cnic">
          <label class=" label-red my-1 text-gray-500 font-semibold required" for="cnic">CNIC</label>
          <input class="border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="number"
            name="cnic" required>
          <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
        </div>
      </div>
      <hr class="my-3 mr-8">
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8" id="items">
          <label class=" label-red my-1 text-gray-500 font-semibold required" for="items">Select item</label>
          <select id="productMenu" name="items" aria-required="true"
            class="block w-full border-[.2px]  py-3 px-4 rounded focus:outline-none cursor-pointer" required>
            <option id="select-item" value="0">Select an item</option>
          </select>
          <span id="error" class="error text-red-500 text-[12px] ml-2 mt-1"></span>
        </div>
        <div class="flex flex-col col-span-1 mr-8" id="weight">
          <label class="label-red my-1 text-gray-500 font-semibold required" for="weight">Item weight</label>
          <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
            id="item-weight" type="number" name="weight" min="1" required>
          <span id="error" class="error text-red-500 text-[12px]   ml-2 mt-1"></span>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8">
          <label class="label-red my-1 text-gray-500 font-semibold  " for="cutting">Cutt off weight</label>
          <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="number"
            name="cutting" id="cutting" min="0" value="0">
        </div>
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1  text-gray-500 font-semibold" for="remaining">Remaining weight</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="text" name="remaining" id="remaining" readonly>
        </div>
      </div>
      <hr class="my-3 mr-8">

      <!--? Pinjai -->
      <!-- <div class="grid grid-cols-1 my-2">
        <p class="my-3  text-gray-500 font-semibold"> Pinjai of product?</p>
        <div class=" grid grid-cols-2 gap-16">
          <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
            <input id="action-radio-1" type="radio" value="true" name="action-radio"
              class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
            <label for="action-radio-1"
              class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Yes</label>
          </div>
          <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
            <input id="action-radio-2" type="radio" value="false" name="action-radio"
              class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
            <label for="action-radio-2"
              class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">No</label>
          </div>
        </div>

      </div> -->

      <!--? Type of Pinjai -->
      <div class="grid grid-cols-1 my-2">
        <p class="my-3  text-gray-500 font-semibold">Type of Pinjai:</p>
        <div class=" grid grid-cols-3 gap-16">
          <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded ">
            <input id="type-radio-1" type="radio" value="pillow" name="type-radio"
              class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
            <label for="type-radio-1"
              class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Pillow</label>
          </div>
          <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
            <input id="type-radio-2" type="radio" value="razai" name="type-radio"
              class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
            <label for="type-radio-2"
              class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Razai</label>
          </div>
          <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
            <input id="type-radio-3" type="radio" value="gadda" name="type-radio"
              class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
            <label for="type-radio-3"
              class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Gadda</label>
          </div>
        </div>
      </div>

      <!--? Filling -->
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="filling-price">Filling price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="filling-price" id="filling-price" value="0" readonly>
        </div>
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="filling-quantity">Add Quantity</label>
          <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="number"
            name="filling-quantity" id="filling-quantity">
        </div>
      </div>
      <!--? Stiching -->
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="stiching-price">Stiching price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="stiching-price" id="stiching-price" value="0" readonly>
        </div>
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="stiching-quantity">Add Quantity</label>
          <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400" type="number"
            name="stiching-quantity" id="stiching-quantity">
        </div>
      </div>

      <hr class="my-3 mr-8">
      <!--? Cleaning & Granding -->
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="cleaning-price">Cleaning price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="cleaning-price" id="cleaning-price" readonly>
        </div>
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="granding-price">Granding price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="granding-price" id="granding-price" readonly>
        </div>
      </div>

      <!--? Chrai & Pinjai -->
      <div class="grid grid-cols-1 md:grid-cols-2 my-2">
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="chrai-price">Chrai price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="chrai-price" id="chrai-price" readonly>
        </div>
        <div class="flex flex-col col-span-1 mr-8">
          <label class="my-1 text-gray-500 font-semibold" for="pinjai-price">Pinjai price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="number" name="pinjai-price" id="pinjai-price" readonly>
        </div>
      </div>
      <!-- <div class="md:grid   md:grid-cols-2 my-4">
                <div class="flex flex-col col-span-1 mr-8">
                    <label class="my-1 text-gray-500 font-semibold " for="extra">Extra charges - %</label>
                    <input oninput="extraCharge() " class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                        type="number" name="extra" id="extra" value="0" min="0">
                </div>
                <div class="flex flex-col col-span-1 mr-8">
                    <label class="my-1 text-gray-500 font-semibold " for="discount">Discount - %</label>
                    <input oninput="discountCharge()" class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                        type="number" name="discount" id="discount" value="0" min="0">
                </div>
            </div> -->

      <div class="grid grid-cols-1 my-2">
        <!-- <div class="flex flex-col col-span-1 mr-8">
                    <label class="my-1 text-gray-500 font-semibold" for="product-price">Product price</label>
                    <input
                        class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                        type="text" name="product-price" id="product-price" readonly>
                </div> -->
        <div class="flex flex-col col-span-1 mr-6">
          <label class="my-1 text-gray-500 font-semibold" for="total">Total price</label>
          <input
            class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
            type="text" name="total" id="total" value="0" readonly>
        </div>
      </div>
      <div class="flex flex-col col-span-3 mr-8 my-6">
        <input id="create-btn"
          class="rounded cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white px-6 py-2 md:py-3" type="submit"
          value="+ Create invoice">
      </div>
    </form>
  </div>

  <!-- SIDEBAR ... END-->

  <!-- INVOICE RECIEPT -->
  <div id="invoice-view"
    class="container bg-white w-[90vw] sm:w-[45vw] rounded p-3 fixed top-[50%] left-0 translate-y-[-50%] translate-x-[5%] sm:translate-x-[50%]  hidden">

  </div>
  
  <!-- INVOICE RECIEPT ... END -->

  <script>
    // function saveImg() {
    //     let invoiceImg = document.getElementById('invoice-img');
    //     html2canvas(invoiceImg).then(
    //         function (canvas) {
    //             let link = document.createElement('a')
    //             link.href = canvas.toDataURL('image/jpg');
    //             link.download = 'invoice.jpg'
    //             link.click();
    //         }
    //     )
    // }
    function printInvoice() {
      window.print()
    }



  </script>

  <!-- <script src="../javascripts/generator.js"></script> -->
  <script src="./javascripts/invoice.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
    integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>