<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <style>
    .label-red::after {
      content: " *";
      color: red;
      font-size: large;
    }

    #side-container {
      overflow-x: hidden;
      overflow-y: scroll;
    }

    #side-container.toggle {
      display: block;
      right: 0;
      animation: slider 400ms linear 1;
    }

    @keyframes slider {
      from {
        right: -300px;
        opacity: 0.5;
      }

      to {
        right: 0;
        opacity: 1;
      }

    }

    #overlay.toggle {
      display: block;
    }


    #invoice-view.toggle {
      display: block;
      animation: dialog 500ms linear 1;

    }

    #side-container::-webkit-scrollbar {
      background: transparent;
      width: 14px;
    }

    #side-container::-webkit-scrollbar-track {
      right: 3px;
      background: 0 0;
      z-index: 200;
    }

    #side-container::-webkit-scrollbar-thumb {
      background-color: #bababa;
      border-radius: 20px;
      border: 2px solid #fff;
    }

    #side-container::-webkit-scrollbar-thumb:hover {
      background-color: #0000009e;
    }

    @keyframes dialog {
      from {
        opacity: 0;
        /* transform: scale(0.95); */
      }

      to {
        opacity: 1;
        /* transform: scale(1); */
      }

    }

    #invoice-list {
      transition: all ease 0.3s;
    }

    #invoice-list:hover {
      border-color: rgb(126, 34, 206);
    }

    /* .svgicon {
      opacity: 0;
    }

    #invoice-list:hover .svgicon {
      opacity: 1;
    } */

    @media(max-width: 640px) {
      #invoice-list:hover .svgicon {
        opacity: 0;
      }
    }

    #pinjaiGrid,
    #fillingGrid,
    #stichingGrid,
    #grandingGrid,
    #chraiGrid,
    #productPriceGrid {
      display: none;
    }
  </style>
  <title>Invoices - GMS</title>
</head>

<body class="flex  h-screen w-screen bg-gray-100 relative">
  <%-include('aside', {activeOption: 'index' })%>
    <div class="flex flex-col   w-[85%] px-[5%] pt-4">
      <!-- Header -->
      <header>
        <ul
          class="flex justify-center items-center text-sm font-medium text-center text-gray-500 border-b border-gray-200">
          <li id="buyTab" class="tab px-20  cursor-pointer border border-gray-300">
            <p class="inline-block p-4 rounded-t-lg ">Buy</a>
          </li>

          <li id="sellTab" class="tab bg-white text-blue-500 px-20  cursor-pointer border border-gray-300">
            <p class="inline-block p-4 rounded-t-lg ">Sell</p>
          </li>
        </ul>

      </header>
      <!-- ! Buy Tab -->
      <%-include('buy-tab')%>

        <!--! Sell TAB -->
        <%-include('sell-tab')%>

          <!-- SIDEBAR ... FORM-->
          <%-include('sell-form')%>


            <!-- INVOICE REVIEW -->
            <div id="invoice-view"
              class="container bg-white w-[90vw] sm:w-[45vw] rounded p-3 fixed top-[50%] left-0 translate-y-[-50%] translate-x-[5%] sm:translate-x-[50%]  hidden">
            </div>


            <!-- SCRIPTS -->
            <script type="module">
              import { capitalizeText, openInvoice, closeInvoice } from '/javascripts/utils.js';

              // Apply Capitalization of Text
              document.querySelectorAll(".capitalize-input").forEach(input => {
                input.addEventListener("input", capitalizeText);
              });

              //Apply Open Invoice
              document.querySelectorAll('.openInvoice').forEach(invoice => {
                invoice.addEventListener('click', openInvoice)
              })
              //Apply Close Invoice
              document.getElementById('overlay').addEventListener('click', closeInvoice)
            </script>
            <script src="/javascripts/script.js"></script>
            <script src="/javascripts/vendor-invoice.js"></script>
            <script src="/javascripts/client-invoice.js"></script>
            <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>