<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Catalog</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        #overlay.show {
            display: block;
        }

        #add-product-page.show,
        #update-product-page.show {
            display: block;
            animation: dialog 250ms linear 1;
            z-index: 1
        }

        @keyframes dialog {
            from {
                opacity: 0;
                /* transform: scale(0.55); */
            }

            to {
                opacity: 1;
                /* transform: scale(0.70); */
            }

        }
    </style>
</head>

<body class="flex h-screen w-screen bg-gray-100 relative">
    <%-include('aside', {activeOption: 'products' })%>
    <main id="container" class="flex flex-col w-[85%] px-[5%]">
        <div class="flex flex-row items-center justify-between p-4 space-x-4">
            <div>
              <h5 class="text-xl font-semibold text-gray-900 mb-2">Products</h5>
              <p class="text-gray-500 text-sm">Manage all your products or add a new one</p>
            </div>
            <button 
              id="new-product-btn" 
              onclick="addProduct()"
              type="button" 
              class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 rounded-lg focus:ring-4 focus:ring-purple-300"
            >
              <svg class="size-8 pr-1"
                xmlns="http://www.w3.org/2000/svg" 
                class="h-4 w-4 mr-2 -ml-1" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke="currentColor" 
                stroke-width="1.5"
              >
                <path 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" 
                />
              </svg>
              Add Product
            </button>
          </div>
          
            <hr class="my-3 mr-8">
            <div id="product-container"
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center justify-center gap-x-6 p-6">
            </div>


            <!--! ADD PRODUCT FORM-->

            <div id="add-product-page"
                class="w-[85vw] h-[50vw] overflow-y-scroll md:w-[70vw] hidden bg-white scale-[0.70] p-12 fixed top-[50%] left-[-25%] translate-y-[-50%] translate-x-[50%] rounded-lg">
                <div class="flex flex-row items-center justify-between mb-4">
                    <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12">Add Product
                    </h1>
                    <button onclick="hideAddProduct()"
                        class=" text-gray-500 hover:text-gray-400 text-sm md:text-xl p-sm mx-4 md:mx-12 flex flex-row items-center justify-center gap-2">
                        Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
                        </svg> </button>
                </div>
                <hr class="my-3 mr-8 h-[.2px]">

                <form method="POST" action="/api/products" name="addProductForm"
                    class=" gap-4 flex flex-col py-4 md:px-12">

                    <!--? Product Name -->
                    <div id="product-name" class="flex flex-col col-span-1 mr-8">
                        <label class="my-1 text-gray-400 text-xl font-light" for="product-name">Product name</label>
                        <input type="text" name="product_name"
                            class="capitalize-input border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                        autocapitalize="words"    required>
                    </div>

                    <!--? Granding and Cleaning price -->

                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="product-granding" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="grandingPrice">Granding
                                price</label>
                            <input type="number" name="granding_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                        <div id="product-cleaning" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="cleaningPrice">Cleaning
                                price</label>
                            <input type="number" name="cleaning_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                    </div>

                    <!--? Chrai and Pinjai price -->

                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="product-chrai" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="chraiPrice">Chrai
                                price</label>
                            <input type="number" name="chrai_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                        <div id="pinjai-cleaning" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="pinjaiPrice">Pinjai
                                price</label>
                            <input type="number" name="pinjai_price"
                                class="pinjaiPrice border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                    </div>

                    <!--? Filling and Stiching price -->
                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="product-filling" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="fillingPrice">Filling
                                price</label>
                            <input type="number" name="filling_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">

                        </div>
                        <div id="product-stiching" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="stichingPrice">Stiching
                                price</label>
                            <input type="number" name="stiching_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                    </div>

                    <!--? Stocked quantity -->
                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="stocked-qty" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="stocked_qty">Stocked
                                Qty</label>
                            <input type="number" name="stocked_qty"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                        <!--? Product price -->
                        <div id="product-price" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="product_price">Product
                                price</label>
                            <input type="number" name="product_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                    </div>
                    <!--? Total price -->
                    <div id="product-total" class="flex flex-col col-span-1 mr-8 gap-2">
                        <label class="my-1 text-gray-400 font-light text-xl" for="total-price">Total price</label>
                        <input type="number" name="total_price"
                            class="bg-gray-100 border-gray-300  border-[.2px] py-1 md:py-3 px-4 rounded-lg  focus:outline-gray-300 focus:bg-gray-100"
                            readonly>
                    </div>
                    <input onclick="hideAddProduct()"
                        class="rounded-lg cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white text-xl px-20 py-2 md:py-3"
                        type="submit" value="+ Add new Product">
                </form>
            </div>

            <!--! Update PRODUCT FORM-->

            <div id="update-product-page"
                class="w-[85vw] h-[50vw] overflow-y-scroll md:w-[70vw] hidden bg-white scale-[0.70] p-12 fixed top-[50%] left-[-25%] translate-y-[-50%] translate-x-[50%] rounded-lg">
                <div class="flex flex-row items-center justify-between mb-4">
                    <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12">Update Product
                    </h1>
                    <button onclick="hideUpdateProduct()"
                        class=" text-gray-500 hover:text-gray-400 text-sm md:text-xl p-sm mx-4 md:mx-12 flex flex-row items-center justify-center gap-2">
                        Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
                        </svg> </button>
                </div>
                <hr class="my-3 mr-8 h-[.2px]">

                <form name="updateProductForm" method="POST" class=" gap-4 flex flex-col py-4 px-12">

                    <!--? Product Name -->
                    <div id="product-name" class="flex flex-col col-span-1 mr-8">
                        <label class="my-1 text-gray-400 text-xl font-light" for="up_product-name">Product name</label>
                        <input type="text" name="up_product_name"
                            class="capitalize-input border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                            required autocapitalize="words" value="">
                    </div>

                    <!--? Granding and Cleaning price -->

                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="product-granding" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_granding-price">Granding
                                price</label>
                            <input type="number" name="up_granding_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="" required>
                        </div>
                        <div id="product-cleaning" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_cleaning-price">Cleaning
                                price</label>
                            <input type="number" name="up_cleaning_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="">
                        </div>
                    </div>

                    <!--? Chrai and Pinjai price -->
                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="product-chrai" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_chrai-price">Chrai
                                price</label>
                            <input type="number" name="up_chrai_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="">
                        </div>
                        <div id="product-pinjai" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_pinjai-price">Pinjai
                                price</label>
                            <input type="number" name="up_pinjai_price"
                                class="pinjaiPrice border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="">
                        </div>
                    </div>
                    <!--? Filling and Stiching price -->
                    <div class="grid grid-cols-1 md:grid-cols-2 my-2" id="stichFill">
                        <div id="product-filling" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_filling-price">Filling
                                price</label>
                            <input type="number" name="up_filling_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="">
                        </div>
                        <div id="product-stiching" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_stiching-price">Stiching
                                price</label>
                            <input type="number" name="up_stiching_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="">
                        </div>
                    </div>
                    <!--? Stocked quantity -->
                    <div class="grid grid-cols-1 md:grid-cols-2 my-2">
                        <div id="stocked-qty" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_stocked_qty">Stocked
                                Qty</label>
                            <input type="number" name="up_stocked_qty"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                        <!--? Product price -->
                        <div id="product-price" class="flex flex-col col-span-1 mr-8 gap-2">
                            <label class="my-1 text-gray-400 font-light text-xl" for="up_product_price">Product
                                price</label>
                            <input type="number" name="up_product_price"
                                class=" border-[.2px] border-gray-300 py-1 md:py-3 px-4 rounded-lg focus:outline-purple-400"
                                min="0" value="0">
                        </div>
                    </div>
                    <!--? Total Price -->
                    <div id="product-total" class="flex flex-col col-span-1 mr-8 gap-2">
                        <label class="my-1 text-gray-400 font-light text-xl" for="up_total-price">Total price</label>
                        <input type="number" name="up_total_price"
                            class="bg-gray-100 border-gray-300  border-[.2px] py-1 md:py-3 px-4 rounded-lg  focus:outline-gray-300 focus:bg-gray-100"
                            value="" readonly>
                    </div>
                    <input id=""
                        class="rounded-lg cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white text-xl px-20 py-2 md:py-3"
                        type="submit" value="Save changes">
                </form>
            </div>
            <!-- OVERLAY -->
            <div onclick="hideAddProduct();hideUpdateProduct()" id="overlay"
                class="bg-gray-800 bg-opacity-40 w-screen h-screen fixed inset-0 hidden">
            </div>
    </main>
    <script type="module">
        import { capitalizeText } from '/javascripts/utils.js';
    
        // Select all inputs with the class "capitalize-input"
        document.querySelectorAll(".capitalize-input").forEach(input => {
            input.addEventListener("input", capitalizeText);
        });
    </script>
    <script src="/javascripts/product.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>