<!-- SIDEBAR -->
<aside id="client-side-container"
    class=" container bg-white w-[90vw] lg:w-[50vw] h-full py-4 overflow-scroll border fixed top-0 right-[-730px] hidden transition-all z-40">
    <div class="flex flex-row items-center justify-between">
        <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4">Create
            Invoice
        </h1>
        <button onclick="hideClientSidebar()"
            class=" text-gray-500 hover:text-gray-500 text-sm md:text-xl p-sm mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4 flex flex-row items-center justify-center gap-2">
            Go back <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
            </svg> </button>
    </div> <!-- <p class="text-purple-400 text-lg my-3 mx-2"></p> -->
    <form id="clientForm" name="clientForm" method="POST" action="/api/client-invoices"
        class=" flex flex-col pt-4 px-12">
        <hr class="my-3 mr-8">
        <div class="grid grid-cols-1 md:grid-cols-2 my-2">
            <!-- Contact -->
            <div class="flex flex-col col-span-1 mr-8" id="contact">
                <label class="label-red my-1 text-gray-500 font-semibold required" for="contact">Contact</label>
                <input class="contactInput border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="text" name="contact" required>
                <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
            </div>
            <!-- Name -->
            <div class="flex flex-col col-span-1 mr-8" id="name">
                <label class=" label-red my-1 text-gray-500 font-semibold required" for="name">Customer
                    name</label>
                <input
                    class="capitalize-input bg-gray-100 border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="text" name="name" autocapitalize="words" readonly>
                <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 border-b-[1px] border-b-gray-200 py-3 my-2">

            <!-- Father Name -->
            <div class="flex flex-col col-span-1 mr-8" id="father_name">
                <label class=" label-red my-1 text-gray-500 font-semibold required" for="father_name">Father
                    name</label>
                <input
                    class="capitalize-input bg-gray-100 border-[.2px] border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="text" name="father_name" autocapitalize="words" readonly>
                <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
            </div>
            <!-- CNIC -->
            <div class="flex flex-col col-span-1 mr-8" id="cnic">
                <label class=" my-1 text-gray-500 font-semibold" for="cnic">CNIC</label>
                <input class="cnicInput border-[.2px] bg-gray-100 border-gray-300 py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="text" name="cnic" readonly>
                <span class="error text-red-500 text-[12px] ml-2 mt-1"></span>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 my-2">
            <div class="flex flex-col col-span-1 mr-8" id="items">
                <label class=" label-red my-1 text-gray-500 font-semibold required" for="items">Select item</label>
                <select id="productMenu" name="items" aria-required="true"
                    class="block w-full border-[.2px]  py-3 px-4 rounded focus:outline-none cursor-pointer" required>
                    <option id="select-item" value="0">Select an item</option>
                </select>
                <span id="error" class="error text-red-500 text-[12px] ml-2 mt-1"></span>
            </div>
            <div class="flex flex-col col-span-1 mr-8" id="weight">
                <label class="label-red my-1 text-gray-500 font-semibold required" for="weight">Item weight</label>
                <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    id="item-weight" type="number" name="weight" min="1" required>
                <span id="error" class="error text-red-500 text-[12px]   ml-2 mt-1"></span>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 border-b-[1px] border-b-gray-200 py-3 my-2">
            <div class="flex flex-col col-span-1 mr-8">
                <label class="label-red my-1 text-gray-500 font-semibold " for="cutting">Cutt off weight</label>
                <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="number" name="cutting" id="cutting" min="0" value="0">
            </div>
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1  text-gray-500 font-semibold" for="remaining">Remaining weight</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="text" name="remaining" id="remaining" readonly>
            </div>
        </div>

        <!--? Type of Pinjai -->
        <div class="grid grid-cols-1 border-b-[1px] border-b-gray-200 py-3 my-2" id="pinjaiGrid">
            <p class="my-3  text-gray-500 font-semibold">Type of Pinjai:</p>
            <div class=" grid grid-cols-1 lg:grid-cols-3  gap-4 my-4">
                <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded ">
                    <input id="type-radio-1" type="radio" value="pillow" name="type-radio"
                        class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
                    <label for="type-radio-1"
                        class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Pillow</label>
                </div>
                <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
                    <input id="type-radio-2" type="radio" value="razai" name="type-radio"
                        class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
                    <label for="type-radio-2"
                        class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Razai</label>
                </div>
                <div class="flex items-center ps-4 border-[.2px] border-gray-300 rounded">
                    <input id="type-radio-3" type="radio" value="gadda" name="type-radio"
                        class="w-4 h-4 text-purple-400 bg-gray-100 border-gray-300 focus:ring-purple-400 dark:focus:ring-purple-400 ">
                    <label for="type-radio-3"
                        class="w-full py-2 ms-2 text-sm font-semibold text-gray-500 dark:text-gray-500">Gadda</label>
                </div>
            </div>
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="pinjai-price">Pinjai price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="pinjai-price" id="pinjai-price" readonly>
            </div>
        </div>
        <!--? Filling -->
        <div class="grid grid-cols-1 md:grid-cols-2 my-2" id="fillingGrid">
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="filling-price">Filling price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="filling-price" id="filling-price" value="0" readonly>
            </div>
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="filling-quantity">Add Quantity</label>
                <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="number" name="filling-quantity" id="filling-quantity">
            </div>
        </div>
        <!--? Stiching -->
        <div class="grid grid-cols-1 md:grid-cols-2 border-b-[1px] border-b-gray-200 py-3 my-2" id="stichingGrid">
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="stiching-price">Stiching price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="stiching-price" id="stiching-price" value="0" readonly>
            </div>
            <div class="flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="stiching-quantity">Add Quantity</label>
                <input class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                    type="number" name="stiching-quantity" id="stiching-quantity">
            </div>
        </div>


        <!--? Cleaning & Granding -->
        <div class="cleaningGrid flex items-start mb-5 ">
            <label for="remember" class="me-2 text-sm font-medium text-gray-500">Cleaning of Product</label>
            <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value=""
                    class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 my-2">
            <div class="cleaningGrid flex flex-col col-span-1 mr-8">
                <label class="my-1 text-gray-500 font-semibold" for="cleaning-price">Cleaning price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="cleaning-price" id="cleaning-price" readonly>
            </div>
            <div class="flex flex-col col-span-1 mr-8" id="grandingGrid">
                <label class="my-1 text-gray-500 font-semibold" for="granding-price">Granding price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="granding-price" id="granding-price" readonly>
            </div>
        </div>

        <!--? Chrai & Product price -->
        <div class="grid grid-cols-1 md:grid-cols-2 my-2">
            <div class="flex flex-col col-span-1 mr-8" id="chraiGrid">
                <label class="my-1 text-gray-500 font-semibold" for="chrai-price">Chrai price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="chrai-price" id="chrai-price" readonly>
            </div>
            <div class="flex flex-col col-span-1 mr-8" id="productPriceGrid">
                <label class="my-1 text-gray-500 font-semibold" for="product-price">Product price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="number" name="product-price" id="product-price" readonly>
            </div>
        </div>
        <!-- <div class="md:grid   md:grid-cols-2 my-4">
         <div class="flex flex-col col-span-1 mr-8">
             <label class="my-1 text-gray-500 font-semibold " for="extra">Extra charges - %</label>
             <input oninput="extraCharge() " class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                 type="number" name="extra" id="extra" value="0" min="0">
         </div>
         <div class="flex flex-col col-span-1 mr-8">
             <label class="my-1 text-gray-500 font-semibold " for="discount">Discount - %</label>
             <input oninput="discountCharge()" class="border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-purple-400"
                 type="number" name="discount" id="discount" value="0" min="0">
         </div>
     </div> -->

        <div class="grid grid-cols-1 my-2">
            <!-- <div class="flex flex-col col-span-1 mr-8">
             <label class="my-1 text-gray-500 font-semibold" for="product-price">Product price</label>
             <input
                 class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                 type="text" name="product-price" id="product-price" readonly>
         </div> -->
            <div class="flex flex-col col-span-1 mr-6">
                <label class="my-1 text-gray-500 font-semibold" for="total">Total price</label>
                <input
                    class="bg-gray-100 border-[.2px] border-gray-300  py-1 md:py-2 px-4 rounded focus:outline-gray-300 focus:bg-gray-100"
                    type="text" name="total" id="total" value="0" readonly>
            </div>
        </div>
        <div class="flex flex-col col-span-3 mr-8 my-6">
            <input id="create-btn" onsubmit="hideClientSidebar()"
                class="rounded cursor-pointer bg-purple-700 hover:opacity-[0.8] text-white px-6 py-2 md:py-3"
                type="submit" value="+ Create invoice">
        </div>
    </form>
</aside>
