<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking - GMS</title>
</head>
<body class="bg-gray-100 flex items-center justify-center">
    <main class="w-[90vw] grid items-center justify-center">
        <%-include('header', {activeOption: 'tracking'})%>
        <div class="flex flex-row items-center justify-between">
            <h1 class="text-black text-base md:text-2xl font-bold mx-4 md:mx-12 mt-6 md:mt-12 mb-2 md:mb-4">Product Tracking
            </h1>
            
        </div>
        <hr class="my-5">
        <div class="p-4 w-[90vw] md:w-[70vw]" id="tracking-coll">
        </div>
    </main>
    <script src="./javascripts/tracking.js"></script>
</body>
</html>