<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vendor Profile</title>
  <style>
    #invoice-view.toggle {
      display: block;
      animation: dialog 500ms linear 1;

    }

    @keyframes dialog {
      from {
        opacity: 0;
        /* transform: scale(0.95); */
      }

      to {
        opacity: 1;
        /* transform: scale(1); */
      }

    }

    #overlay.toggle {
      display: block;
    }
  </style>
</head>

<body class="flex min-h-screen w-screen bg-gray-100 relative overflow-visible">
  <%-include('aside', {activeOption: 'vendors' })%>
  <div class="flex flex-col   w-[85%] px-[5%]">
      <header class=" flex flex-row items-center justify-around py-12 gap-8">
        <h1 class="text-black text-xl md:text-3xl font-bold">Vendor Profile</h1>
      </header>
      
      <hr class="my-5">
      <!-- profile -->
      <div class="p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg text-purple-600 font-semibold flex justify-start gap-3 items-center">
          Personal information
        </h2>
        <hr class="my-2">
        <div class="mt-4">
          <dl class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <dt class="font-medium">Name</dt>
              <dd class="text-gray-600" id="vendorName"></dd>
            </div>
            <div>
              <dt class="font-medium">Father Name</dt>
              <dd class="text-gray-600" id="vendorFatherName"></dd>
            </div>
            <div>
              <dt class="font-medium">Role</dt>
              <dd class="text-gray-600">Vendor</dd>
            </div>
            <div>
              <dt class="font-medium">Phone Number</dt>
              <dd class="text-gray-600" id="vendorPhone"></dd>
            </div>
            <div>
              <dt class="font-medium">CNIC</dt>
              <dd class="text-gray-600" id="vendorCnic"></dd>
            </div>
          </dl>
        </div>
      </div>
      <!-- Invoices collection -->
      <div class="p-4 w-[90vw] md:w-[70vw] flex flex-col-reverse " id="invoice-collection">
      </div>
      <!-- OVERLAY -->
      <div id="overlay" class="bg-gray-800 bg-opacity-40 w-screen h-screen fixed inset-0 hidden z-30">
      </div>
      <!-- INVOICE RECIEPT -->
      <div id="invoice-view"
        class="container bg-white w-[90vw] sm:w-[45vw] rounded p-3 fixed top-[50%] left-0 translate-y-[-50%] translate-x-[5%] sm:translate-x-[50%] z-40  hidden">
      </div>
      <!-- Javascripts -->
      <script type="module">
        import { closeVendorInvoice } from '/javascripts/utils.js';


        //Apply Close Invoice
        document.getElementById('overlay').addEventListener('click', closeVendorInvoice)
      </script>
      <script type="module" src="/javascripts/vendor-profile.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>